/* CSS Document */
a:link {color:#000099;text-decoration:none}
a:visited {color:#990099;text-decoration:none}        
a:hover {color: #660000;LEFT: 1px;POSITION: relative; TOP:1px; text-decoration:none}

